 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>About me</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I was trained as a theoretical chemist. Now I'm actively practicing statistical mechanics and machine learning to study biology. My ultimate goal is to provide a landscape perspective on biological processes, including biomolecular folding and assembly, genetic and epigenetic regulation.
</p>
                </div>
                <div class="col-lg-4">
                    <p>Postdoc in Chemistry, MIT, 2017-now</p>
                    <p>PhD in Chemistry, Peking University, 2017</p>
                    <p>BSc in Chemistry and Mathematics, Peking University, 2012</p>
                    <p>Visting Student at Max Planck Institute for Polymer Research, 2016</p>
                </div>
            </div>
        </div>
    </section>
