 <!-- Contact Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-primary">

                <div class="col-lg-12 text-left">
<p><i>Mar 3, 2022</i></p>
<p>I was awarded the Arthur W. Adamson Postdoctoral Recognition Award from USC.</p>

<p><i>Jan, 2022</i></p>
<p>Two PNAS papers were published with Arieh and Hao.</p>

<p><i>Oct 8, 2020</i></p>
<p>I joined <a href="https://www.nobelprize.org/prizes/chemistry/2013/warshel/facts/">Arieh Warshel</a>'s lab at USC.</p>

<p><i>Jan 9, 2019</i></p>
<p>I gave a talk in Gordon Research Conference <a href="https://www.grc.org/stochastic-physics-in-biology-conference/2019/">(Stochastic Physics in Biology)</a> on epigenetic energy landscape.

<p><i>Dec 26, 2018</i></p>
<p>A collaboration work on inflammasome assembly with my friend Chen Shen has been accepted in PNAS.</p>

<p><i>Oct 30, 2018</i></p>
<p>My first manuscript with Bin on epigenetics is posted on bioRxiv. </p>

<p><i>Oct 8, 2018</i></p>
<p>I gave a talk at MIT biophysics retreat on epigenetic energy landscape. </p>

<p><i>Sep 13, 2018</i></p>
<p>My work at Max Plank Institute is now published online in Chem, a sister journal of Cell. </p>

<p><i>Sep 1, 2018</i></p>
<p>Welcome to my personal website ! I just started my postdoctoral second year. </p>


                </div>
                </div>
            </div>
        </div>
    </section>
