 <!-- Contact Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-primary">

<p>Mar 3, 2022</p>
<p>I was awarded the Arthur W. Adamson Postdoctoral Recognition Award from USC.</p>

<p>Jan, 2022</p>
<p>Two PNAS papers were published with Arieh and Hao.</p>

<p>Oct 8, 2020</p>
<p>I joined Arieh Warshel's lab at USC.</p>

<p>Jan 9, 2019</p>
<p>I gave a talk in Gordon Research Conference (Stochastic Physics in Biology). The title is 'Mechanism of Chromatin Domain Formation Revealed by Epigenetic Energy Landscape'.</p>
<p>Conference website: <a href="https://www.grc.org/stochastic-physics-in-biology-conference/2019/" jsname="eLO0kc">https://www.grc.org/stochastic-physics-in-biology-conference/2019/</a> </p>

<p>Dec 26, 2018</p>
<p>A collaboration work on inflammasome assembly with my friend Chen Shen has been accepted in PNAS.</p>

<p>Oct 30, 2018</p>
<p>My first manuscript with Bin is posted on bioRxiv: <a href="https://www.biorxiv.org/content/early/2018/10/30/456525" jsname="eLO0kc">https://www.biorxiv.org/content/early/2018/10/30/456525</a> </p>

<p>Oct 8, 2018</p>
<p>I gave a talk at MIT biophysics retreat. The title is 'Learning Mechanism of Chromatin Domain Formation with Big Data'. </p>

<p>Sep 13, 2018</p>
<p>My work at Max Plank Institute for Polymer Research is now published online in Chem, a sister journal of Cell. We found a novel mechanism for the interaction between two important osmolytes TMAO and urea. This research explains how osmotic pressure is controlled in marine animals. </p>

<p>Press coverage: <a href="http://www.mpip-mainz.mpg.de/5471609/PM2018-25" jsname="eLO0kc">http://www.mpip-mainz.mpg.de/5471609/PM2018-25</a> </p>

<p>Sep 1, 2018</p>

<p>Welcome to my personal website ! I just started my postdoctoral second year. </p>


                </div>
            </div>
        </div>
    </section>
