 <!-- Contact Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>News</h2>
                    <hr class="star-primary">

                <div class="col-lg-12 text-left">
<p><i>Aug 31, 2022</i></p>
<p>We revealed how commercialized covalent inhibitors for kinases achieve selectivity over evolutionarily-related sequences.</p>
<p>Check the paper in <a href="https://pubs.acs.org/doi/abs/10.1021/jacs.2c07307">JACS</a>.</p>

<p><i>Jul 28, 2022</i></p>
<p>We found that natural evolution underlies the laboratory evolution of designer enzymes whose scaffold is obtained from natural proteins.</p>
<p>Check the paper in <a href="https://www.pnas.org/doi/10.1073/pnas.2207904119">PNAS</a>.</p>

<p><i>Jul 1, 2022</i></p>
<p>Excited to begin consulting for <a href="https://www.twistbioscience.com/">Twist Bioscience</a>.</p>

<p><i>May 23, 2022</i></p>
<p>I gave a talk at Enzyme Engineering XXVI on enzyme design.</p>

<p><i>Mar 3, 2022</i></p>
<p>I was awarded the Arthur W. Adamson Postdoctoral Recognition Award from USC.</p>

<p><i>Jan, 2022</i></p>
<p>Two PNAS papers were published with Arieh and Hao.</p>
<p>We <a href="https://www.pnas.org/doi/10.1073/pnas.2122355119">connected enzyme evolution with enzyme catalysis</a>, two important phenomena at contrasting timescales; the connection provides the first-ever effective method to predict mutation effects on enzyme activity.</p>

<p><i>Oct 8, 2020</i></p>
<p>I joined <a href="https://www.nobelprize.org/prizes/chemistry/2013/warshel/facts/">Arieh Warshel</a>'s lab at USC. Very excited to work on enzyme!</p>

<p><i>Jan 9, 2019</i></p>
<p>I gave a talk at Gordon Research Conference <a href="https://www.grc.org/stochastic-physics-in-biology-conference/2019/">(Stochastic Physics in Biology)</a> on epigenetic energy landscape.

<p><i>Dec 26, 2018</i></p>
<p>A collaboration work on inflammasome assembly with Hao has been accepted in PNAS.</p>

<p><i>Oct 30, 2018</i></p>
<p>My first manuscript with Bin on chromatin is posted on bioRxiv now. </p>

<p><i>Oct 8, 2018</i></p>
<p>I gave a talk at MIT biophysics retreat on epigenetic energy landscape. </p>

<p><i>Sep 13, 2018</i></p>
<p>My work at Max Plank Institute is now published in <a href="https://www.cell.com/chem/fulltext/S2451-9294(18)30372-3">Chem</a>, a sister journal of Cell.</p>
<p>We addressed the interaction between osmolytes using ab-initio MD and spectroscopies.</p>
<p>Check the related <a href="https://www.mpip-mainz.mpg.de/60266/PM2018-27">news</a>: Why sea fish don’t mind salty water?</p>

<p><i>Sep 1, 2018</i></p>
<p>Welcome to my new personal website! </p>


                </div>
                </div>
            </div>
        </div>
    </section>
